{% extends 'base.html' %}
{% block doctitle %}ARTICLES{% endblock doctitle %}

{% load custom_filters %}
{% block content %}

    <h3 class="mt-4">ARTICLES BY {{author}}</h3>
    <br>
    <p><{{ searched_articles | length }} result(s) found></p>
    {% if searched_articles %}
        {% for searched_article in searched_articles %}
            {% with wcount=searched_article.content|count_occurrences:' ' %}     
                <div class="list-group">
                    <a href="{% url 'article_detail' searched_article.slug %}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{searched_article.title}}</h5>
                        <small>{{searched_article.timestamp|timesince}} ago</small>
                    </div>
                    <p class="mb-1">{{searched_article.content | truncatewords:30}} ....</p>
                    <br>
                    <small>by {{searched_article.user}}<br>in {{wcount|add:1}} words</small>
                    </a>
                </div>
            {% endwith %}
        {% endfor %}
    {% endif %}

{% endblock content %}

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">Some placeholder content in a paragraph.</p>
      <small>And some small print.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-body-secondary">3 days ago</small>
      </div>
      <p class="mb-1">Some placeholder content in a paragraph.</p>
      <small class="text-body-secondary">And some muted small print.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">List group item heading</h5>
        <small class="text-body-secondary">3 days ago</small>
      </div>
      <p class="mb-1">Some placeholder content in a paragraph.</p>
      <small class="text-body-secondary">And some muted small print.</small>
    </a>
  </div>